        body {
            background-image: url(../images/bb1.jpg);
            background-position: center;
        }
        
        header {
            border-color: rgb(0, 61, 0);
            border-style: double;
            opacity: .5%;
            color: honeydew;
            padding: 20px;
            margin: 30px;
        }
        
        main {
            border-width: 1px 4px 12px 4px;
            border-color: rgb(5, 0, 70);
            border-style: ridge;
            background-color: rgba(0, 0, 49, 0.281);
            padding: 20px;
            margin: 30px;
        }
        
        p {
            color: cornsilk;
            border-color: rgba(0, 0, 139, 0.473);
            background-color: rgba(0, 0, 139, 0.486);
            border-style: outset;
            padding: 15px;
            margin: 15px;
        }
        
        #main {
            color: rgb(255, 0, 0);
            font-style: oblique;
        }
        
        h1 {
            color: rgb(75, 136, 0);
        }
        
        h2 {
            color: rgb(190, 38, 0);
        }
        
        ol {
            color: cornsilk;
            border-color: rgba(0, 0, 139, 0.473);
            background-color: rgba(0, 0, 139, 0.486);
            border-style: outset;
            padding: 20 px;
            margin: 15px;
        }
        
        li {
            padding: 2px;
            margin: 20ps;
        }